body{
font: arial,helvetica, sans-serif;

}

#container{
width: 1050px;
/*border: 1px solid grey;*/
margin: 0 auto;
height: 525px;
border-width: 2px;
}
#brand{
    float: left;
}
#header{
    height: 100px;
    
}
h1 a{
    color: blueviolet;
    font-size: 50px;
font-weight: 100px;
text-decoration: none;
float: left;
}
#searchBox{
    float: right;
background: linear-gradient(rgb(28, 232, 116),white);
width: 400px;
height: 80px;
margin-top: 15px;
margin-right: 20px;
border: 1px solid red;
}
.text{
float: left;
margin: 20px 10px 50px 20px;
width: 200px;
height: 30px;
font-size: 15px;
padding: 5px;
background: white url(images/search.png) right center no-repeat;
border: 1px solid red;

}
.submit{
float: right;
margin-top: 30px ;
margin-right: 20px;
background: purple;
width: 100px;
color: white;
padding: 5px;
}
.clear{ clear: both;}
#menu{
    height: 70px;
    background: linear-gradient(rgb(28, 232, 116),white);
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    #menu ul li:last-child{
border-right: none;

    }
    #menu ul li{
float: left;
padding: 20px;
height: 2px;
border-right: 2px solid rgb(76, 6, 161);
line-height: 5px;
    }
    #menu ul li a:hover, #menu ul li a.active{
font-size: 20px;
font-weight: bold;
color: brown;
    }
ul{
list-style: none;
}
#menu ul li a{
    text-decoration: none;
text-transform: uppercase;
font-size: 17px;
color: blueviolet;
font-weight: bolder;
transition: font-size 0.3s ease;
}
#introduction{ 
    height: 300px;
    background: linear-gradient(rgb(99, 5, 230),rgb(24, 12, 41));
padding-top: 25px;
}

#introduction h1{
    color: white;
    margin-left: 20px;
    font-style: italic;
}

#introduction h3{
    color: white;
    font-size: 20px;
    
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
margin-top: 20px;


}
.sidebar{
    height: 850px;
    width: 500px;
    float: left;
    border: rgb(51, 240, 13);
    border-width: 5px;
    margin: 10px 0px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 10px;
    background: linear-gradient(white, white);
    color: red;
}
#leftsidebar h3{
padding-left: 10px;
font-style: normal;



}
.sidebar ul li a{
text-decoration: none;
font-size: 20px;
color: blue;
transition: .5s ease-in;

 
}
.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: rgb(1, 11, 11);
    font-size: 30px;
font-weight: bold;



}
#leftsidebar{
    float: left;
}
#rightsidebar{
    float:right;
}
#rightsidebar h3{
padding-left: 10px;
}
#rightsidebar ul{
padding-top: 20px;


}
#rightsidebar ul li{
padding-bottom: 20px;
background:url(images/tick.png) no-repeat left center;
padding-right: 20px;
padding-left: 40px;
padding-top: 20px;
}
#leftsidebar ul{
    padding-top: 20px;}
#leftsidebar ul li{
    padding-bottom: 20px;
    padding-left: 10px;
    list-style: image url(images/search2.png);
    padding-top: 20px;
    }
.footer{
height: 100px;
border-style: solid;
background:linear-gradient(#5b05d3, #350973);
font-size: 25px;
color: white;
padding-left: 20px;
}

